<!DOCTYPE html>
<html lang="en">
<head>
  <title>SendaFurryFriend</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
≈</head>
<body>

<div class="jumbotron text-center">
  <h1>SendaFurryFriend</h1>
  <p>Click the Button Below to reccive your friend!</p> 

  <div class="form-group">
    <label for="webhookurl">Your Discord webhook URL:</label>
      <input type="text" class="form-control" id="webhookurl" placeholder="https://discordapp.com/api/webhooks/..." name="webhookurl">
  </div>

  <button onclick="SendCat()">Send me a Cat</button>

</div>

<div class="container">
  
    <div class="col-sm-4">
      <h3>Check it out!</h3>
      <blockquote class="embedly-card"><h4><a href="https://github.com/Gerrudo/SendFurryFriend">Gerrudo/SendFurryFriend</a></h4><p>Contribute to Gerrudo/SendFurryFriend development by creating an account on GitHub.</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </div>
    <div class="col-sm-4">
      <h3>Get in Contact!</h3>
      <p>You can email me: tom@tomsnetwork.uk</p>
      <p>Or You can call our office directly: 0161 883 3013</p>
    </div>

    <div class="col-sm-4">
      <h3>Visit our website</h3>
      <p>Link to our website below!</p>
      <a href="https://www.tomsnetwork.uk">www.tomsnetwork.uk</a>
    </div>
    
</div>
  
</body>
<script>
  function SendCat(){
    var item={};
    item.webhookurl = $('#webhookurl');
    console.log(item.webhookurl);
    $.post('/sendcat', item);
  }
</script>
</html>
